<!-- <div class="grid-container">
  <div class="item1">Header</div>
  <div class = "image">
  	<img src ="imgs/myphoto.PNG" style= "object-fit:contain">
  	</div>	
  <div class="item2"></div>	
  <div class="item3">Main</div>  
</div>	 -->

<div>
	<div class = "image col-md-2" >
	<img src ="imgs/myphoto.PNG">
	<div class = "menu"></div>
	</div>
	<div class = "col-md-6">
	<div class = "header">
		<h1 class="h2">Welcome Dr.{{userInfo.name}}</h1>
	</div>
	<div class = "material">
		{{userInfo |json}}
	</div>
	</div>

</div>