@CHARSET "ISO-8859-1";

.dahsboad {
  display: grid;/* 
  height: 100vh; */
  
  grid-template-areas:    "header  header"
                          "nav    main"
                          "footer footer";
}

#loginForm
{
	position: relative;
	left:30%;
	top:30%;
}